@media screen and (max-width:767px){
  .container{
    width: 100% !important;
  }
}


.btn-custom
{
  background-color: #5480F3;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
}

.test{
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
