<aside class="side-container bg-light shadow">
  <div class="container">
    <div class="side-nav p-3">
      <div class="side-nav-logo">
        <div class="mt-5">
          <img width="150" src="assets/logo.png" alt="">
        </div>
      </div>
      <div class="side-nav-links border-bottom">
        <ul class="list-unstyled px-3 py-5 ">
          <li  class="d-flex mb-5 active align-items-center">
            <i  class="fa-solid fa-user me-3 fs-5"></i>
            <p class="mb-0 nav-content fw-bold fs-5">Users</p>
          </li>
          <li  class="d-flex mb-5 fw-medium align-items-center">
            <i class="fa-regular  fs-5 me-3 fa-thumbs-up"></i>
            <p class="mb-0 nav-content  fs-5">Likes</p>
          </li>
          <li  class="d-flex mb-5 fw-medium align-items-center">
          <i class="fa-solid fs-5  me-3 fa-book"></i>
            <p class="mb-0 nav-content   fs-5">Content</p>
          </li>
          <li  class="d-flex fw-medium  align-items-center">
            <i class="fa-regular fs-5 me-3 fa-comment"></i>
            <p class="mb-0 nav-content  fs-5">Comments</p>
          </li>
        </ul>
      </div>
      <div class="setting pt-4 ">
        <div class="logout text-center">
          <button class="btn btn-danger fw-bold">
            <i class="fa-solid me-2 fa-arrow-up-from-bracket"></i>
            <span class="log-text">Log Out</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</aside>
